<!DOCTYPE html>
<html lang="en">
<head>
    <title>产品列表</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link href="style/adminStyle.css" rel="stylesheet" type="text/css"/>
    <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <script src="js/jquery.js"></script>
    <script src="js/public.js"></script>
    <script src="js/vue.min.js"></script>
    <script src="js/bootstrap.js"></script>
</head>
<body>
<div id="app">
    <div class="page-title">
        <span class="modular fl"><i></i><em>产品列表</em></span>
        <span class="modular fr"><a href="product_add.html" class="pt-link-btn">+添加商品</a></span>
    </div>
    <div class="operate">
        <form>
            <select class="inline-select">
                <option>A店铺</option>
                <option>B店铺</option>
            </select>
            <input type="text" class="textBox length-long" placeholder="输入产品名称..."/>
            <input type="button" value="查询" class="tdBtn"/>
        </form>
    </div>
    <table class="list-style Interlaced">
        <tr>
            <th>ID编号</th>
            <th>图片</th>
            <th>类别</th>
            <th>品牌</th>
            <th>库存数量</th>
            <th>售价</th>
            <th>添加日期</th>
            <th>精品</th>
            <th>新品</th>
            <th>热销</th>
            <th>特价促销</th>
            <th>操作</th>
        </tr>
        <tr v-for="(item,index) in result">
            <td class="center">
                {{item.GoodsID}}
            </td>
            <td class="center pic-area">
                <img :src="item.Thumbnail" class="thumbnail"/>
            </td>
            <td class="center">
                {{item.CatName}}
            </td>
            <td class="center">
                {{item.BrandName}}
            </td>
            <td class="center">
                {{item.GoodsStock}}
            </td>
            <td class="center">
                <span>
                     <i>￥</i>
                    <em> {{item.ShopPrice}}</em>
                 </span>
            </td>
            <td class="center" width="50">
                {{item.CreateTime}}
            </td>
            <td class="center">
                <template v-if="item.IsBest==0">
                    <img src="images/no.gif"/>
                </template>
                <template v-else>
                    <img src="images/yes.gif"/>
                </template>
            </td>
            <td class="center">
                <template v-if="item.IsNew==0">
                    <img src="images/no.gif"/>
                </template>
                <template v-else>
                    <img src="images/yes.gif"/>
                </template>
            </td>
            <td class="center">
                <template v-if="item.IsHot==0">
                    <img src="images/no.gif"/>
                </template>
                <template v-else>
                    <img src="images/yes.gif"/>
                </template>
            </td>
            <td class="center">
                <template v-if="item.IsPromotion==0">
                    <img src="images/no.gif"/>
                </template>
                <template v-else>
                    <img src="images/yes.gif"/>
                </template>
            </td>
            <td class="center">
                <button class="btn btn-success" data-dismiss="modal" @click="hui(position=item.GoodsID)">恢复</button>
            </td>
        </tr>

    </table>
    <!-- BatchOperation -->
    <div style="overflow:hidden;">

        <div class="turnPage center fr">
            <a>第一页</a>
            <a>1</a>
            <a>最后一页</a>
        </div>
    </div>
</div>
<script>


    new Vue({
        el: "#app",
        data: {
            position:0,
            result: []
        },
        methods: {

            queryAll: function () {
                var _this = this;
                $.get("/huiQuery", function (result) {
                    _this.result = result;
                })
            },
            hui:function (position) {
                var _this = this;
                $.get("/huiUpdate", {
                    index: position
                }, function (result) {
                    if (result == "true") {
                        _this.queryAll();
                    } else {
                        alert("恢复失败")
                    }
                });
            }

        },
        //生命钩子
        created: function () {
            this.queryAll();
        }
    });

</script>
</body>
</html>