<!DOCTYPE html>
<html lang="en">
<head>
    <title>产品列表</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link href="style/adminStyle.css" rel="stylesheet" type="text/css"/>
    <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <script src="js/jquery.js"></script>
    <script src="js/public.js"></script>
    <script src="js/vue.min.js"></script>
    <script src="js/bootstrap.js"></script>
</head>
<body>
<div id="app">
    <div class="page-title">
        <span class="modular fl"><i></i><em>产品列表</em></span>
        <span class="modular fr"><a href="goodsInsert.html" class="pt-link-btn">+添加商品</a></span>
    </div>
    <div class="operate">
        <form>
            <select class="inline-select">
                <option>A店铺</option>
                <option>B店铺</option>
            </select>
            <input type="text" class="textBox length-long" placeholder="输入产品名称..."/>
            <input type="button" value="查询" class="tdBtn"/>
        </form>
    </div>
    <table class="list-style Interlaced">
        <tr>
            <th class="center">ID编号</th>
            <th class="center">图片</th>
            <th class="center">类别</th>
            <th class="center">品牌</th>
            <th class="center">库存数量</th>
            <th class="center">售价</th>
            <th class="center">添加日期</th>
            <th class="center">精品</th>
            <th class="center">新品</th>
            <th class="center">热销</th>
            <th class="center">特价促销</th>
            <th class="center">操作</th>
        </tr>
        <tr v-for="(item,index) in result">
            <td class="center">
                {{item.GoodsID}}
            </td>
            <td class="center pic-area">
                <img :src="item.Thumbnail" class="thumbnail"/>
            </td>
            <td class="center">
                {{item.CatName}}
            </td>
            <td class="center">
                {{item.BrandName}}
            </td>
            <td class="center">
                {{item.GoodsStock}}
            </td>
            <td class="center">
                <span>
                     <i>￥</i>
                    <em> {{item.ShopPrice}}</em>
                 </span>
            </td>
            <td class="center" width="50">
                {{item.CreateTime}}
            </td>
            <td class="center">
                <template v-if="item.IsBest==0">
                    <img src="images/no.gif"/>
                </template>
                <template v-else>
                    <img src="images/yes.gif"/>
                </template>
            </td>
            <td class="center">
                <template v-if="item.IsNew==0">
                    <img src="images/no.gif"/>
                </template>
                <template v-else>
                    <img src="images/yes.gif"/>
                </template>
            </td>
            <td class="center">
                <template v-if="item.IsHot==0">
                    <img src="images/no.gif"/>
                </template>
                <template v-else>
                    <img src="images/yes.gif"/>
                </template>
            </td>
            <td class="center">
                <template v-if="item.IsPromotion==0">
                    <img src="images/no.gif"/>
                </template>
                <template v-else>
                    <img src="images/yes.gif"/>
                </template>
            </td>
            <td class="center">
                <button class="btn btn-danger" data-toggle="modal" data-target="#deleteDialog"
                        @click="position=item.GoodsID">删除
                </button>
                <button class="btn btn-primary" data-toggle="modal" data-target="#deleteDialog"
                        @click="zeng()">增加
                </button>
            </td>
        </tr>
        <!--删除的模态框-->
        <div id="deleteDialog" role="dialog" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <span>删除</span>
                        <!-- data-dismiss="modal"  点击的时候消失-->
                        <!--class="close" 右边-->
                        <div class="close" data-dismiss="modal">&bigotimes;</div>
                    </div>

                    <div class="modal-body">
                        <h4>确定删除?</h4>
                    </div>

                    <div class="modal-footer">
                        <button class="btn btn-danger" data-dismiss="modal">取消</button>
                        <button class="btn btn-success" data-dismiss="modal" @click="deleteById()">确定</button>
                    </div>
                </div>
            </div>
        </div>

    </table>
    <!-- BatchOperation -->
    <div style="overflow:hidden;">
        <!-- Operation -->
        <div class="BatchOperation fl">
            <input type="checkbox" id="del"/>
            <label for="del" class="btnStyle middle">全选</label>
            <input type="button" value="批量删除" class="btnStyle"/>
        </div>
        <!-- turn page -->
        <div class="turnPage center fr">
            <a>第一页</a>
            <a>1</a>
            <a>最后一页</a>
        </div>
    </div>
</div>
<script>


    new Vue({
        el: "#app",
        data: {
            position: 0,
            result: []
        },
        methods: {

            queryAll: function () {
                var _this = this;
                $.get("/goodsQuery", function (result) {
                    _this.result = result;
                })
            },
            deleteById: function () {
                var _this = this;
                $.get("/goodsUpdate", {index: this.position}, function (isDelete) {
                    if (isDelete == "true") {
                        alert("删除成功");
                        _this.queryAll();
                    } else {
                        alert("删除失败");
                    }


                });

            },zeng:function () {
                window.location.href="product_add.html";
            }

        },
        //生命钩子
        created: function () {
            this.queryAll();
        }
    });

</script>
</body>
</html>