<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>配送方式列表</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link href="style/adminStyle.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="font/iconfont.css">
    <script src="js/jquery-1.11.0.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="js/vue.min.js"></script>
    <script src="js/jquery.js"></script>
    <script src="js/public.js"></script>
</head>
<body>
<div id="wrap">
    <div class="page-title">
        <span class="modular fl"><i class="order"></i><em>配送方式列表</em></span>
    </div>
    <div class="operate">
        <form>
            <img src="images/icon_search.gif"/>
            <input type="text" class="textBox length-long" v-model="obj.ShippingName" placeholder="请输入想要选择的配送方式"/>
            <input type="button" value="查询" class="tdBtn" @click="selecttiaojian()">
            <input type="button" value="添加" class="tdBtn" data-toggle="modal" data-target="#addDialog"/>
        </form>
    </div>
    <table class="list-style Interlaced">
        <tr>

            <th class="center">配送方式名称</th>
            <th class="center">配送方式描述</th>
            <th class="center">是否可用</th>
            <th class="center">操作</th>
        </tr>
        <tr v-for="(item,index) in result">
            <td style="display: none">{{item.ShippingID}}</td>
            <td class="center">{{item.ShippingName}}</td>
            <td class="center"><span class="block">{{item.Description}}</span></td>
            <td class="center"><span>
                <template v-if="item.Enabled==0">
                    <img src="images/no.gif"/>
                </template>
                <template v-else>
                    <img src="images/yes.gif"/>
                </template>
</span></td>
            <td class="center"><a data-toggle="modal" data-target="#deleteDialog"><span class="delete">删除</span></a><span>&nbsp;&nbsp;</span></button><a data-toggle="modal" data-target="#updateDialog">修改</a></td>
        </tr>
    </table>
    <!-- BatchOperation -->
    <div style="overflow:hidden;">
        <!-- Operation -->
    </div>
    <!-- 添加-->
    <div id="addDialog" role="dialog" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <span>添加配送方式</span>
                    <!-- data-dismiss="modal"  点击的时候消失-->
                    <!--class="close" 右边-->
                    <div class="close" data-dismiss="modal">&bigotimes;</div>
                </div>

                <div class="modal-body">
                    <table class="table table-dialog table-bordered">
                        <tr>
                            <td>配送名称</td>
                            <td><input type="text" v-model="obj.ShippingName"></td>
                        </tr>
                        <tr>
                            <td>配送描述</td>
                            <td><input type="text" v-model="obj.Description"></td>
                        </tr>
                        <tr>
                            <td>是否可用</td>
                            <td>
                                <input type="text" v-model="obj.Enabled">
                                <!--<div class="btn-group" data-toggle="buttons">-->
                                    <!--<label class="btn btn-primary">-->
                                        <!--<input type="radio" name="options" id="option2" autocomplete="off" v-model="obj.Enabled">是-->
                                    <!--</label>-->
                                    <!--<label class="btn btn-primary">-->
                                        <!--<input type="radio" name="options" id="option3" autocomplete="off" v-model="obj.Enabled">否 -->
                                    <!--</label>-->
                                <!--</div>-->
                            </td>
                        </tr>
                    </table>
                </div>

                <div class="modal-footer">
                    <button class="btn btn-danger" data-dismiss="modal">取消</button>
                    <button class="btn btn-success" data-dismiss="modal" @click="add()">确定</button>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>


<script>
    new Vue({
        el: "#wrap",
        data: {
            result: [],
            obj:{
                ShippingName: "",
                Description: "",
                Enabled: ""
            }
        },
        methods: {
            selectAll: function () {
                var _this = this;
                $.get("/Shippingquery", function (result) {
                    _this.result = result;//数据
                });
            },
            add: function () {
                $.get("/Shippingadd", {
                    ShippingName: this.obj.ShippingName,
                    Description: this.obj.Description,
                    Enabled: this.obj.Enabled
                }, function (result) {
                    if (result == "true") {
                        alert("添加成功");
                    } else {
                        alert("添加失败");
                    }
                });
                this.selectAll();
                this.obj = {};
            }
        },
    created: function () {
        this.selectAll();

    }//页面创建完成时
    })
    ;


</script>